/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

/* ------------ */
/* Variables colors*/
/* --------- */
html, body {
  height: auto;
  width: 100%;
  min-height: 100%;
  background: #F4F5F7;
  font-family: "Manrope", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

#table_id a {
  text-decoration: none;
  color: #111;
}

#table_id a:hover {
  color: #1F3BB3;
}

.header {
  height: 70px;
  width: 100%;
  background: #F4F5F7 !important;
  display: flex;
  align-items: center;
  margin: 3%;
}
.header .left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.header .left .title {
  width: 25%;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.header .left .title strong {
  color: #1F3BB3;
}
.header .left .hello {
  padding-left: 45px;
  width: 75%;
  font-size: 30px;
}
.header .left .hello h1 {
  color: #8D8D8D;
}
.header .left .hello strong {
  color: #111;
  font-weight: 600;
}

.main-part {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background: #F4F5F7;
  min-height: 100%;
  margin-top: 2%;
}
.main-part .dashboard {
  display: flex;
  flex-direction: column;
  width: 85%;
  background: #F4F5F7;
  height: auto;
  min-height: 100%;
}
.main-part .dashboard .content-wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.main-part .dashboard .content-wrapper #map {
  height: 600px;
  width: 1000px;
}
.main-part .dashboard .content-wrapper .head-content {
  width: 100%;
  height: 40px;
  text-align: end;
  padding-bottom: 10px;
}
.main-part .dashboard .content-wrapper .head-content a button {
  background: #fff;
  align-items: center;
  white-space: nowrap;
  padding: 10px 35px 10px 35px;
  color: #1F3BB3;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
}
.main-part .dashboard .content-wrapper .head-content a button:hover {
  color: #F4F5F7;
  background: #1F3BB3;
  transition: all 0.2s ease-in-out;
}
.main-part .dashboard .content-wrapper .table-part {
  width: 97%;
  height: auto;
  background: #fff;
  border-radius: 20px;
  word-wrap: break-word;
  padding: 1.5rem 1.5rem;
}
.main-part .dashboard .content-wrapper .table-part .right {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  margin-right: 5%;
}
.main-part .dashboard .content-wrapper .table-part .right .search {
  width: 100%;
  margin-left: 20px;
}
.main-part .dashboard .content-wrapper .table-part .right .search label input {
  height: 50px;
  width: 92%;
  border-radius: 50px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  padding: 0 20px;
  border: none;
}
.main-part .dashboard .content-wrapper .table-part .card-title {
  margin-bottom: 1.2rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: none;
}
.main-part .dashboard .content-wrapper .table-part .card-description {
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: #76838f;
}
.main-part .dashboard .content-wrapper .table-part .table-responsive .table-infos {
  margin: 0 !important;
  width: 100% !important;
  height: 100%;
  caption-side: bottom;
}
.main-part .dashboard .content-wrapper .table-part .pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main-part .dashboard .content-wrapper .table-part .pagination .btn-page button {
  color: #333;
  border: 1px solid #979797;
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.2em 0.8em;
  margin-left: 5px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  border-radius: 2px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  transition: all 0.2s ease-in-out;
}
.main-part .dashboard .content-wrapper .table-part .pagination .btn-previous button, .main-part .dashboard .content-wrapper .table-part .pagination .btn-next button {
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.main-part .dashboard .content-wrapper .table-part .pagination .btn-page button:hover {
  background: transparent;
}
.main-part .dashboard .content-wrapper .table-part .pagination .btn-previous button:hover, .main-part .dashboard .content-wrapper .table-part .pagination .btn-next button:hover {
  color: #111 !important;
}
.main-part .sidebar {
  width: 15%;
}
.main-part .sidebar .nav-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 40px;
}
.main-part .sidebar .nav-list a {
  text-decoration: none;
  color: #111;
}
.main-part .sidebar .nav-list a .nav-item {
  width: 70%;
  height: 50px;
  background: transparent;
  margin: 10px 0;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 0 20px 20px 0;
  padding-left: 50px;
  cursor: pointer;
}
.main-part .sidebar .nav-list a .nav-item i {
  font-size: 18px;
  margin-right: 10px;
}
.main-part .sidebar .nav-list a .nav-item .arrow {
  font-size: 10px;
  color: #c7c7c7;
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out;
}
.main-part .sidebar .nav-list a .nav-item:hover {
  background: #fff;
  color: #1F3BB3;
}
.main-part .sidebar .nav-list a .nav-item:hover .arrow {
  color: #1F3BB3;
  transform: rotate(0deg);
}
.main-part .sidebar .nav-list a .nav-item.active {
  font-weight: bold;
  color: #1F3BB3;
  background: #fff;
}
.main-part .sidebar .nav-list a .nav-item.active .arrow {
  transform: rotate(0deg);
}

.dataTables_filter {
  display: none;
}

.dataTables_paginate {
  margin-bottom: 10px;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  color: #1F3BB3 !important;
  font-weight: 600;
  cursor: default;
}

table.dataTable tbody tr:hover {
  cursor: pointer !important;
}

.no-footer {
  width: 100% !important;
}

.legend {
  display: flex;
  align-items: center;
  margin-left: 1%;
}
.legend h3 {
  font-weight: 900;
}
.legend img {
  margin-left: 2%;
  margin-right: 2%;
}

table.dataTable td, table.dataTable th {
  border: none !important;
}
