/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

/* ------------ */

/* Variables colors*/
$primary: #F4F5F7;
$secondary: #fff;
$third: #111;
$four: #1F3BB3;
$five: #8D8D8D;
/* --------- */

html, body {
    height: auto;
    width: 100%;
    min-height: 100%;
    background: $primary;
    font-family: 'Manrope', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

#table_id a{
    text-decoration: none;
    color: $third;
}

#table_id a:hover {
    color: $four;
}


.header {
    height: 70px;
    width: 100%;
    background: $primary !important;
    display: flex;
    align-items: center;
    margin: 3%;

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;

        .title {
            width: 25%;
            text-align: center;
            font-size: 24px;
            font-weight: 600;

            strong {
                color: $four;
            }
        }

        .hello {
            padding-left: 45px;
            width: 75%;
            font-size: 30px;

            h1 {
                color: $five;
            }

            strong {
                color: $third;
                font-weight: 600;
            }
        }
    }


}

.main-part {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background: $primary;
    min-height: 100%;
    margin-top: 2%;

    .dashboard {
        display: flex;
        flex-direction: column;
        width: 85%;
        background: $primary;
        height: auto;
        min-height: 100%;


        .content-wrapper {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px;

            #map {
                height: 600px;
                width: 1000px;
            }

            .head-content {
                width: 100%;
                height: 40px;
                text-align: end;
                padding-bottom: 10px;

                a {
                    button {
                        background: $secondary;
                        align-items: center;
                        white-space: nowrap;
                        padding: 10px 35px 10px 35px;
                        color: $four;
                        font-weight: 500;
                        border-radius: 20px;
                        border: none;
                        font-family: 'Manrope', sans-serif;
                        // box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);
                        cursor: pointer;
                    }

                    button:hover {
                        color: $primary;
                        background: $four;
                        transition: all .2s ease-in-out;
                    }
                }
            }

            .table-part {
                width: 97%;
                height: auto;
                background: #fff;
                border-radius: 20px;
                //box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);
                word-wrap: break-word;
                padding: 1.5rem 1.5rem;
                .right {
                    display: flex;
                    justify-content: flex-end;
                    width: 40%;
                    margin-right: 5%;

                    .search {
                        width: 100%;
                        margin-left: 20px;

                        label {
                            input {
                                height: 50px;
                                width: 92%;
                                border-radius: 50px;
                                font-size: 16px;
                                font-family: 'Manrope', sans-serif;
                                padding: 0 20px;
                                border: none;
                            }
                        }
                    }
                }
                .card-title {
                    margin-bottom: 1.2rem;
                    font-size: 1.125rem;
                    font-weight: 600;
                    text-transform: none;
                }

                .card-description {
                    margin-bottom: 1.5rem;
                    font-weight: 400;
                    color: #76838f;
                }

                .table-responsive {
                    .table-infos {
                        margin: 0 !important;
                        width: 100% !important;
                        height: 100%;
                        caption-side: bottom;
                    }
                }

                .pagination {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .btn-page button {
                        color: #333;
                        border: 1px solid #979797;
                        background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
                        box-sizing: border-box;
                        display: inline-block;
                        min-width: 1.5em;
                        padding: 0.2em 0.8em;
                        margin-left: 5px;
                        text-align: center;
                        text-decoration: none !important;
                        cursor: pointer;
                        border-radius: 2px;
                        font-size: 16px;
                        font-family: 'Manrope', sans-serif;
                        transition: all .2s ease-in-out;
                    }
                    .btn-previous button, .btn-next button {
                        color: #666 !important;
                        border: 1px solid transparent;
                        background: transparent;
                        box-shadow: none;
                    }
                    .btn-page button:hover {
                        background: transparent;
                    }
                    .btn-previous button:hover, .btn-next button:hover {
                        color: $third !important;
                    }
                }
            }
        }
    }

    .sidebar {
        width: 15%;

        .nav-list {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            padding-top: 40px;

            a {
                text-decoration: none;
                color: $third;
                .nav-item {
                    width: 70%;
                    height: 50px;
                    background: transparent;
                    margin: 10px 0;
                    justify-content: flex-start;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    border-radius: 0 20px 20px 0;
                    padding-left: 50px;
                    cursor: pointer;

                    i {
                        font-size: 18px;
                        margin-right: 10px;
                    }

                    .arrow {
                        font-size: 10px;
                        color: #c7c7c7;
                        transform: rotate(90deg);
                        transition: all 0.2s ease-in-out;
                    }
                }

                .nav-item:hover {
                    background: $secondary;
                    color: $four;
                    // box-shadow: 0 0 0 0 rgb(90 113 208 / 10%), 0 4px 16px 0 rgb(167 175 183 / 30%);

                    .arrow {
                        color: $four;
                        transform: rotate(0deg);
                    }
                }

                .nav-item.active {
                    font-weight: bold;
                    color: $four;
                    background: $secondary;

                    .arrow {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }
}


.dataTables_filter {
    display: none;
}

.dataTables_paginate {
    margin-bottom: 10px;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    color: $four !important;
    font-weight: 600;
    cursor: default;
}


table.dataTable tbody tr:hover {
    cursor: pointer !important;
}

.no-footer {
    width: 100% !important;
}

.legend
{
    display: flex;
    align-items: center;
    margin-left: 1%;
    h3
    {
        font-weight:900;
    }
    img
    {
        margin-left: 2%;
        margin-right: 2%;

    }
}

table.dataTable td, table.dataTable th {
    border: none !important;
}
